<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head-bootstrap">
    <meta charset="UTF-8" >
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/register.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}"/>-->
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.rtl.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.rtl.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap-utilities.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap-utilities.rtl.css}"/>-->


    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.esm.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>

    <title>Visioplan</title>
</head>


<head th:fragment="head-my">
    <meta charset="UTF-8" >
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/typography.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <title>Visioplan</title>
</head>


<div class="nav-container" th:fragment="navbar">
    <header class="site-header">
        <nav class="site-nav">
            <a class="navbar-brand" href="/"><img alt="company-logo" src="/images/logo-white.png"
                                                  class="company-logo"></a>
            <ul class="nav-list">
                <li class="nav-list-elements"><a href="#">Features</a></li>
                <li class="nav-list-elements"><a th:href="@{/about}">How it works</a></li>
                <li class="nav-list-elements"><a href="#">Prices</a></li>
                <li class="nav-list-elements"><a th:href="@{/contact}">Contact</a></li>
                <li class="nav-list-elements"><a th:href="@{/feedback}">Feedback</a></li>

                <li class="nav-list-elements"><a th:href="@{/testForm}">testForm</a></li>
            </ul>
        </nav>
        <ul class="login">

            <th:block sec:authorize="isAuthenticated()">
                <li class="btn sign-bnt"><a th:href="@{/file/dropbox}">testDropbox</a></li>
                <li class="btn sign-bnt"><a th:href="@{/file/add}">testAddFile</a></li>


                <li class="btn sign-bnt"><a th:href="@{/user/profile}">Profile</a></li>
                <li class="btn sign-bnt"><a href="#">Projects</a></li>
                <li class="btn sign-bnt"><a th:href="@{/building/add}">Upload building</a></li>
                <li class="btn sign-bnt"><a th:href="@{/building/all}">projects_all</a></li>
                <li class="btn sign-bnt"><a th:href="@{/file/all}">files_all</a></li>
                <li class="btn sign-bnt"><a th:href="@{/file/add}">files_add</a></li>
                <li class="btn sign-bnt" sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">Admin</a></li>
                <li class="btn sign-bnt" sec:authorize="hasRole('ADMIN')"><a th:href="@{company/register}">Register company</a></li>
<!--                <li class="btn sign-bnt"><a th:href="@{/employee/register}">Register Employee</a></li>-->
                <form th:method="POST"
                      th:action="@{/users/logout}">
                    <input type="submit" class="btn btn-link" value="logout">
                </form>
            </th:block>

            <th:block sec:authorize="!isAuthenticated()">
                <li class="btn login-bnt"><a th:href="@{/users/login}">Login</a></li>
                <li class="btn sign-bnt"><a th:href="@{/users/register}">Register</a></li>
            </th:block>


        </ul>
    </header>
</div>


<footer class="footer" th:fragment="footer">
    <p> &copy; All rights reserved</p>
</footer>

