<!--<head th:replace="~{fragments/commons::head-bootstrap}"><title>Register company</title></head>-->

<!--<body>-->
<!--<div class="container">-->
<!--    <h2 class="text-center text-white">Register company</h2>-->
<!--    <form th:action="@{/company/register}"-->
<!--          th:method="POST"-->
<!--          th:object="${companyRegistrationDTO}"-->
<!--          class="form-myForm mx-auto col-md-8 d-flex flex-column justify-content-center">-->
<!--        <div class="row">-->
<!--            <div class="form-group col-md-6 mb-3">-->
<!--                <label for="name" class="text-white font-weight-bold">Name</label>-->
<!--                <input id="name"-->
<!--                       th:field="*{name}"-->
<!--                       type="text"-->
<!--                       class="form-control"-->
<!--                       placeholder="Name"/>-->
<!--                <p class="invalid-feedback errors alert alert-danger">-->
<!--                    Username name is required.-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="form-group col-md-6 mb-3">-->
<!--                <label for="address" class="text-white font-weight-bold">Address</label>-->
<!--                <input id="address"-->
<!--                       th:field="*{address}"-->

<!--                       type="text"-->
<!--                       class="form-control"-->
<!--                       placeholder="Address"/>-->
<!--                <p class="invalid-feedback errors alert alert-danger">-->
<!--                    Email is required.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="form-group col-md-6 mb-3">-->
<!--                <label for="city" class="text-white font-weight-bold">City</label>-->
<!--                <input id="city"-->
<!--                       th:field="*{city}"-->
<!--                       type="text"-->
<!--                       class="form-control"-->
<!--                       placeholder="City"/>-->
<!--                <p class="invalid-feedback errors alert alert-danger">-->
<!--                    Username name is required.-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="form-group col-md-6 mb-3">-->
<!--                <label for="country" class="text-white font-weight-bold">Country</label>-->
<!--                <input id="country"-->
<!--                       th:field="*{country}"-->

<!--                       type="text"-->
<!--                       class="form-control"-->
<!--                       placeholder="Country"/>-->
<!--                <p class="invalid-feedback errors alert alert-danger">-->
<!--                    Email is required.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="form-group col-md-6 mb-3">-->
<!--                <label for="phone" class="text-white font-weight-bold">Phone</label>-->
<!--                <input id="phone"-->
<!--                       th:field="*{phone}"-->
<!--                       type="text"-->
<!--                       class="form-control"-->
<!--                       placeholder="Phone"/>-->
<!--                <p class="invalid-feedback errors alert alert-danger">-->
<!--                    Username name is required.-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="form-group col-md-6 mb-3">-->
<!--                <label for="email" class="text-white font-weight-bold">Email</label>-->
<!--                <input id="email"-->
<!--                       th:field="*{email}"-->

<!--                       type="text"-->
<!--                       class="form-control"-->
<!--                       placeholder="Email"/>-->
<!--                <p class="invalid-feedback errors alert alert-danger">-->
<!--                    Email is required.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <div class="form-group col-md-6 mb-3">-->
<!--                <label for="website" class="text-white font-weight-bold">Website</label>-->
<!--                <input id="website"-->
<!--                       th:field="*{website}"-->
<!--                       type="text"-->
<!--                       class="form-control"-->
<!--                       placeholder="Website"/>-->
<!--                <p class="invalid-feedback errors alert alert-danger">-->
<!--                    Username name is required.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="row">-->
<!--            <div class="col col-md-4">-->
<!--                <div class="button-holder">-->
<!--                    <input type="submit" class="btn btn-info btn-lg" value="Register"/>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--<footer th:replace="~{fragments/commons::footer}"></footer>-->
<!--</body>-->
