<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head-bootstrap}"><title>all files</title></head>

<body>

<header>
    <div th:replace="~{fragments/commons::navbar}"></div>
</header>

<h1>all projects show here</h1>
<div class="table-responsive m-5">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th class="align-middle" scope="col">Part</th>
            <th class="align-middle" scope="col">Floor</th>
            <th class="align-middle" scope="col">File name</th>
            <th class="align-middle" scope="col">Comments</th>
            <th class="align-middle" scope="col">URL</th>
            <th class="align-middle" scope="col">Upload Date</th>
            <th class="align-middle" scope="col">Extension</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="f :${files}" th:object="${f}">
            <td class="align-middle col-md-auto" th:text="*{part}">cell3_1</td>
            <td class="align-middle col-md-auto" th:text="*{floor}">cell2_1</td>
            <td class="align-middle col-md-3" th:text="*{name}">cell1_1</td>
            <td class="align-middle col-md-auto" th:text="*{commentsCounter}">cell6_1</td>
            <td class="align-middle col-md-6" th:text="*{url}">cell7_1</td>
            <td class="align-middle col-md-2" th:text="${#temporals.format(f.uploadDate, 'dd-MM-yyyy HH:mm')}">cell5_1</td>
            <td class="align-middle col-md-auto" th:text="*{extension}">cell4_1</td>
            <td class="align-middle col-md-auto">
                <form th:method="DELETE"
                th:action="@{/file/delete/{id}(id=*{id})}">
                <input type="submit" value="Delete" class="btn btn-outline-danger">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
