<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head-my}"></head>

<body>

<header>
    <div th:replace="~{fragments/commons::navbar}"></div>
</header>

<h1>all projects show here</h1>
<table class="blueTable">
    <thead>
    <tr>
        <th>name</th>
        <th>address</th>
        <th>city</th>
        <th>country</th>
    </tr>
    <tr th:each="b :${buildings}" th:object="${b}">
        <td th:text="*{name}">cell1_1</td>
        <td th:text="*{address}">cell2_1</td>
        <td th:text="*{city}">cell3_1</td>
        <td th:text="*{country}">cell4_1</td>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="4">
            <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a
                    href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
        </td>
    </tr>
    </tfoot>
</table>


<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
