<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head-bootstrap}"><title>Add new building</title></head>

<body>
<nav th:replace="~{fragments/commons::navbar}"></nav>

<article class="my-5 w-50 max-width: 50% mx-auto" id="file-add">


    <form class="row g-3"
          th:action="@{/building/add}"
          th:method="POST"
          th:object="${addBuildingDTO}"
          enctype="multipart/form-data">

        <div class="col-md-6">
            <label for="name" class="form-label text-black font-weight-bold">Name</label>
            <input id="name"
                   th:field="*{name}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   placeholder="Name"/>
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}"
               class="invalid-feedback"></p>
        </div>

        <div class="col-md-6">
            <label for="address" class="form-label text-black font-weight-bold">Address</label>
            <input id="address"
                   th:field="*{address}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   placeholder="Address"/>
            <p th:if="${#fields.hasErrors('address')}"
               th:errors="*{address}"
               class="invalid-feedback"></p>
        </div>

        <div class="col-md-6">
            <label for="city" class="form-label text-black font-weight-bold">City</label>
            <input id="city"
                   th:field="*{city}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   placeholder="City"/>
            <p th:if="${#fields.hasErrors('city')}"
               th:errors="*{city}"
               class="invalid-feedback"></p>
        </div>

        <div class="col-md-6">
            <label for="country" class="form-label text-black font-weight-bold">Country</label>
            <input id="country"
                   th:field="*{country}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   placeholder="Country"/>
            <p th:if="${#fields.hasErrors('country')}"
               th:errors="*{country}"
               class="invalid-feedback"></p>
        </div>

        <div class="col-md-12">
            <label for="building-image" class="form-label">Upload photo</label>
            <input type="file"
                   class="form-control"
                   th:field="*{imageFile}"
                   th:errorclass="is-invalid"
                   accept="image/jpeg, image/png, image/jpg"
                   id="building-image"/>
            <p th:if="${#fields.hasErrors('imageFile')}"
                th:errors="*{imageFile}"
                class="invalid-feedback"></p>
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-main" type="submit">Create new building</button>
        </div>
    </form>
    <footer th:replace="~{fragments/commons::footer}"></footer>

</article>

</body>
