<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head-bootstrap}"><title>All buildings</title></head>

<body>
<header><div th:replace="~{fragments/commons::navbar}"></div></header>

<h1 class="text-center">All buildings</h1>
<div class="table-responsive m-5">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th class="align-middle" scope="col">Name</th>
            <th class="align-middle" scope="col">Address</th>
            <th class="align-middle" scope="col">City</th>
            <th class="align-middle" scope="col">Country</th>
            <th class="align-middle" scope="col">URL</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="b :${buildings}" th:object="${b}">
            <td class="align-middle col-md-auto" th:text="*{name}">cell3_1</td>
            <td class="align-middle col-md-auto" th:text="*{address}">cell2_1</td>
            <td class="align-middle col-md-auto" th:text="*{city}">cell1_1</td>
            <td class="align-middle col-md-auto" th:text="*{country}">cell6_1</td>
            <td class="align-middle col-md-1 text-center">
                <a th:href="*{imgUrl}"
                   class="btn btn-outline-success"
                   target="_blank">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>




</body>
</html>
