<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head-bootstrap}"><title>Add new building</title></head>

<body>
<nav th:replace="~{fragments/commons::navbar}"></nav>

<article class="my-5 w-50 max-width: 50% mx-auto" id="file-add">


    <form class="row g-3"
          th:action="@{/building/add}"
          th:method="POST"
          th:object="${addBuildingDTO}"
          enctype="multipart/form-data">

        <div class="col-md-6">
            <label for="name" class="form-label text-black font-weight-bold">Name</label>
            <input id="name"
                   th:field="*{name}"

                   type="text"
                   class="form-control"
                   placeholder="Name"/>
            <p class="invalid-feedback errors alert alert-danger">
                Username name is required.
            </p>
        </div>

        <div class="col-md-6">
            <label for="address" class="form-label text-black font-weight-bold">Address</label>
            <input id="address"
                   th:field="*{address}"

                   type="text"
                   class="form-control"
                   placeholder="Address"/>
            <p class="invalid-feedback errors alert alert-danger">
                Email is required.
            </p>
        </div>

        <div class="col-md-6">
            <label for="city" class="form-label text-black font-weight-bold">City</label>
            <input id="city"
                   th:field="*{city}"

                   type="text"
                   class="form-control"
                   placeholder="City"/>
            <p class="invalid-feedback errors alert alert-danger">
                Username name is required.
            </p>
        </div>

        <div class="col-md-6">
            <label for="country" class="form-label text-black font-weight-bold">Country</label>
            <input id="country"
                   th:field="*{country}"

                   type="text"
                   class="form-control"
                   placeholder="Country"/>
            <p class="invalid-feedback errors alert alert-danger">
                Email is required.
            </p>
        </div>

        <div class="col-md-12">
            <label for="building-image" class="form-label">Upload photo</label>
            <input type="file" class="form-control" th:field="*{imageFile}"
                   accept="image/jpeg, image/png, image/jpg" id="building-image"/>
        </div>

        <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Create new building</button>
        </div>
    </form>
    <footer th:replace="~{fragments/commons::footer}"></footer>

</article>

</body>
