<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head-my}"><title>Home page</title></head>

<link rel="stylesheet" th:href="@{/css/index.css}"/>

<body>

<header><div th:replace="~{fragments/commons::navbar}"></div></header>

<div class="top-container">
    <section class="hero">
        <h1 class="main-title">Visioplan is the help you need.</h1>
        <p class="hero-info">Visioplan is a project management tool that helps you plan your projects and keep track of
            your progress.</p>
    </section>
</div>

<th:block sec:authorize="isAuthenticated()">
    <th:block sec:authentication="name"></th:block>
</th:block>

<th:block sec:authorize="!isAuthenticated()">
    <p>please log in!</p>
</th:block>


<section class="card">
    <div class="titles">
        <h1 class="main-title">What we offer</h1>
        <h2 class="sub-title">ALIQUAM ID URNA IMPERDIET LIBERO MOLLIS HENDRERIT</h2>
    </div>

    <article class="options">
        <article class="article-sm">
            <div class="img-cont">
                <img src="/images/img_01.png" class="img" alt="plan view">
            </div>
            <div class="article-text">
                <h3 class="title-sm">Plan review</h3>
                <p class="desc">Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc
                    ornare leo tortor.
                </p>
                <button class="btn">READ MORE</button>
            </div>
        </article>

        <article class="article-sm">
            <div class="img-cont">
                <img src="/images/img_02.png" class="img" alt="schema">
            </div>
            <div class="article-text">
                <h3 class="title-sm">Schema Review</h3>
                <p class="desc">Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc
                    ornare leo tortor.
                </p>
                <button class="btn">READ MORE</button>
            </div>
        </article>

        <article class="article-sm">
            <div class="img-cont">
                <img src="/images/img_03.png" class="img" alt="data sheet">
            </div>
            <div class="article-text">
                <h3 class="title-sm">Data Sheets</h3>
                <p class="desc">Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc
                    ornare leo tortor.
                </p>
                <button class="btn">READ MORE</button>
            </div>
        </article>
    </article>
</section>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>
