<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head-bootstrap}"><title>Profile</title></head>
<body>
<nav th:replace="~{fragments/commons::navbar}"></nav>

<div class="card text-center m-auto mt-5" style="width: 18rem;"
     th:action="@{/user/profile/edit}"
     th:method="GET"
     th:object="${user}">
    <img src="/images/Empty_profile_pic.jpg" class="card-img-top" alt="empty profile picture">
    <div class="card-body">
        <h5 class="card-title" th:text="*{fullName}">Full name</h5>
        <h6 class="card-title" th:text="*{company}">Full name</h6>
        <h6 class="card-title" th:text="*{email}">Full name</h6>
        <a th:href="@{/user/profile/edit}" class="btn btn-primary">edit profile</a>
    </div>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>

</html>


