<head th:replace="~{fragments/commons::head-bootstrap}"><title>Register user</title></head>

<body>
<header th:replace="~{fragments/commons::navbar}"></header>

<div class="container">
    <h2 class="text-center text-white">Register User</h2>
    <form   th:action="@{/user/profile/edit/{id}(id=*{id})}"
            th:method="POST"
            th:object="${user}"
            class="form-myForm mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-black font-weight-bold">Username</label>
                <input id="username"
                       th:field="*{username}"
                        disabled
                       type="text"
                       class="form-control"
                       placeholder="Username"/>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-black font-weight-bold">Email</label>
                <input id="email"
                       th:field="*{email}"

                       type="text"
                       class="form-control"
                       placeholder="Email"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Email is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-black font-weight-bold">First name</label>
                <input id="firstName"
                       th:field="*{firstName}"
                       type="text"
                       class="form-control"
                       placeholder="First Name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    First name is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-black font-weight-bold">Last name</label>
                <input id="lastName"
                       th:field="*{lastName}"

                       type="text"
                       class="form-control"
                       placeholder="Last Name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Last name is required.
                </p>
            </div>
        </div>

        <!--            <div class="form-group">-->
        <!--                <label class="text-center text-black font-weight-bold" for="roles">Roles</label>-->
        <!--                <select class="browser-default custom-select"-->
        <!--                        id="roles">-->
        <!--                    <option value="">Select role</option>-->
        <!--                    <option>Admin</option>-->
        <!--                    <option>Admin</option>-->
        <!--                    <option>Admin</option>-->
        <!--                </select>-->
        <!--                <p class="errors alert alert-danger">-->
        <!--                    Selecting a role is required.-->
        <!--                </p>-->
        <!--            </div>-->

        <div class="row">
            <div class="col col-md-4">
                    <input type="submit"
                           class="btn btn-primary"
                           value="Save changes"/>
            </div>
        </div>
    </form>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
