<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
<h1>Comments from yesterday</h1>
<p th:text="|You have ${comments.size()} new comments from yesterday.|">You have 0 new comments from yesterday.</p>
<ul>
    <li th:each="comment : ${comments}" th:object="${comment}">
        <p th:text="|*{author} commented on your document: *{fileName}|">Username commented on your post: doc title</p>
        <p th:text="*{textContent}">Comment content</p>
    </li>
</ul>
</body>
</html>
