:root {
    --main-color-blue: rgb(22, 33, 65);
}

body {
    background-color: var(--main-color-blue);
}

.btn {
    color: var(--main-color-blue);
    background-color: white;
    width: 100%;
    justify-content: center;
}

.row {
    align-items: center;
}

.form-myForm {
    background-color: var(--main-color-blue);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 400px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 400px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 400px 0px rgba(0,0,0,0.75);
}

