<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head-bootstrap}"><title>404</title></head>


<body class="d-flex flex-column h-100">

<header>
    <div th:replace="~{fragments/commons::navbar}"></div>
</header>

<main class="flex-shrink-0">
    <div class="container">
        <p class="lead">nothing here error 404!, this is my custom page for it!</p>
        <a th:href="@{/}">go back</a>
    </div>
</main>

<div class="fixed-bottom">
    <footer th:replace="~{fragments/commons::footer}"></footer>
</div>

</body>
</html>




