<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head-bootstrap}"><title>404</title></head>

<link rel="stylesheet" th:href="@{/css/errors.css}"/>

<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/commons::navbar}"></div>
</header>

<main class="flex-shrink-0">

    <div class="container">
        <div class="text-center">
            <div class="my-error-title">
                <h3 class="display-1">404</h3>
                <h2 class="display-4">Page not found</h2>
            </div>

            <div class="text-center">
                <img class="img-fluid" src="../images/error.jpg" alt="404">
            </div>
            <h3><a class="text-center text-success" th:href="@{/}">But you can always go back</a></h3>
        </div>
    </div>

</main>
</body>
</html>




